.random-beer-page {
    padding: 20px;
    background-color: #f5f5f5;
    text-align: center;
  
    .random-beer-image {
      width: 300px;
      height: auto;
      border-radius: 4px;
    }
  
    
  
    h2 {
      color: #007bff;
      margin-bottom: 20px;
    }
  }
  