body {
  margin: 0;
  padding: 0;
  background-image: url(/src/assets/paper_grayscale.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

a {
  text-decoration: none !important;
}

form {
  max-width: 400px;
  margin: 20px auto;
}

.search-bar {
  margin-bottom: 50px;
}

.btn-round {
  margin: 20px;
}
